body{
  background-color: #181818;
}
.App {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.toolbar {
  margin-bottom: 10px;
  border-bottom: 0.1px solid whitesmoke;
  height: 50px;
  width:690px;
}

.toolbar button {
  margin-right: 5px;
  background-color: #181818;
  color: white;
}
.toolbar label{
  display: inline-block;
  color: white;
  margin-right: 3rem;
  width: 4rem;
}

.toolbar select{
  background-color: #181818;
    color: white;
    border-style: none;
    width: 6rem;
}
.toolbar input{
  background-color: #181818;
  border-style: none;
  color: white;
}

.editor {
  padding: 10px;
  min-height: 200px;
}
